*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
}

.actualiser {
	float: right;
	margin-right: 5%;
}

.type-peu-urgent {
	margin-left: 2%;
	padding: 1%;
	padding-left: 2%;
	padding-right: 2%;
	border-radius: 5px;
	background-color: yellow;
	font-size: 20px;
}

.intervention {
	background-color: white;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
	padding-left: 1%;
	padding-right: 0.5%;
	padding-top: 1%;
	margin-left: 15%;
	margin-right: 3%;
	margin-bottom: 4%;
	width: 70%;
	border-radius: 15px;
}

.title-intervention>h2 {
	text-align: center;
}

.btn-details {
	float: right;
}

.contact {
	font-size: 18px;
}
.title-contact{
	font-weight: bold;
	font-size: 20px;
}


.defaillance  {
	font-size: 18px;
}
.title-defaillance {
	font-weight: bold;
	font-size: 20px;
}

.title-status-en-cours {
	background-color: yellow;
	font-style: italic;
}
.title-status-ok {
	color: #0cf113;
	font-weight: bold;
	font-size: 20px;
}

.title-status-non-fait {
	background-color: #fa0b1a;
}


.title-date {
	font-style: italic;
	float: right;
}
























